﻿@model VideoClub.Data.Models.ClientUser
@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Sidebar.css")" rel="stylesheet" type="text/css" />
}

<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_960_720.png" />
        <h4>@Model.UserName</h4>
    </header>
        <ul>
            <li tabindex="0" class="icon-home"><span>@Html.ActionLink("Home", "Index", "User")</span></li>
            <li tabindex="0" class="icon-movies"><span>@Html.ActionLink("Movies", "Movies", "User")</span></li>
            <li tabindex="0" class="icon-logout"><span>@Html.ActionLink("Logout", "Logout", "User")</span></li>
        </ul>
    </nav>

<main>
    <div class="helper">
            User page
            <span>@Model.UserName</span>
            <span>@Model.FirstName</span>
            <span>@Model.LastName</span>

        </div>
</main>

