﻿@model IEnumerable<VideoClub.Web.Models.MovieDataModel>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "MovieCards";
    Layout = "~/Views/Shared/CustomLayout MovieCards.cshtml";
}


@section Styles {
    <link href="@Url.Content("~/Styles/MovieData.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Search.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/Filter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/FilterButton.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/MovieCard.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
}
    <div class="wrap">
        <div class="search">

            <input id="searchbar" type="text" class="searchTerm" placeholder="Movie title?" name="title">
            <button type="submit" class="searchButton" onclick="search();">
                <i class="fa fa-search"></i>
            </button>

        </div>
    </div>


<div class="container">
    <div id="select" ng-model=""></div>
</div>

<svg width="0" height="0">
    <filter id="filter">
        <feTurbulence type="fractalNoise" baseFrequency=".01" numOctaves="6" />
        <feDisplacementMap in="SourceGraphic" scale="100" />
    </filter>
</svg>


<div class="wrapper">
    <div class="button _3">
        <span><i class="fa fa-filter" onclick="filter();" aria-hidden="true"></i></span><div class="back"></div>
    </div>
</div>

<div class="card-wrapper">
    @foreach (var m in Model.ToArray())
    {
        <div class="card">
            <img src="@m.ImageUrl" />
            <div class="descriptions">

                <h1>@m.Title</h1>

                <p>
                    @m.Description
                </p>
                <button>
                    <i class="fab fa-youtube"></i>
                    Play trailer on YouTube
                </button>
            </div>
        </div>
    }
</div>

<div class="pagination">
    <div class="pagination-container">
        <div class="pagination-hover-overlay"></div>
        @{
            var length = (int)ViewData["pagination"];
            int page = (int)ViewData["page"];
            string title = (string)ViewData["search"];
            int i = 1;
            int end = length - 1;
            if (page < 4)
            {
                for (int j = 1; i < 5 && i <= length; i++, j++)
                {
                    if (Request.Url.AbsoluteUri.Contains("?"))
                    {
                        if (!Request.Url.AbsoluteUri.Contains("pageNo"))
                        {
                            <a href="@Request.Url.AbsoluteUri&pageNo=@i&title=@title" class="pagination-page-number">@j</a>
                        }
                        else
                        {
                            <a href="@Regex.Replace(Request.Url.AbsoluteUri, @"pageNo=\d+", "pageNo=" + i)" class="pagination-page-number">@j</a>
                        }
                    }
                    else
                    {
                        <a href="@Request.Url.AbsoluteUri?pageNo=@i&title=@title" class="pagination-page-number">@j</a>
                    }
                }
            }
            else
            {
                <a href="/user/moviecards?pageNo=1&title=@title" class="pagination-page-number">1</a>
                for (int j = page - 2; j < (page + 4) && j < length; j++)
                {
                    <a href="/user/moviecards?pageNo=@j&title=@title" class="pagination-page-number">@j</a>
                }

            }
        }

    </div>
</div>


<div id="output"></div>


@section Scripts {
    <!-- Load Babel -->
    <!-- v6 <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <script src="https://unpkg.com/@("@")babel/standalone/babel.min.js"></script>
    <!-- Your custom script here -->
    <script type="text/babel">
        let paginationLeftPos = "20px";
        let paginationOpacity = 0;
        let checkPaginationClick = 0;

        $(".pagination-page-number").click(function() {
        $(".pagination-page-number").removeClass("active");
        $(this).addClass("active");
        paginationLeftPos = $(this).prop("offsetLeft") + "px";
        paginationOpacity = 1;
        checkPaginationClick = 1;

        $(".pagination-hover-overlay").css({
        left: paginationLeftPos,
        backgroundColor: "#00178a",
        opacity: paginationOpacity
        });
        $(this).css({
        color: "#fff"
        });
        });

        $(".pagination-page-number").hover(
        function() {
        paginationOpacity = 1;
        $(".pagination-hover-overlay").css({
        backgroundColor: "#324960",
        left: $(this).prop("offsetLeft") + "px",
        opacity: paginationOpacity
        });

        $(".pagination-page-number.active").css({
        color: "#333d45"
        });

        $(this).css({
        color: "#fff"
        });
        },
        function() {
        if (checkPaginationClick) {
        paginationOpacity = 1;
        } else {
        paginationOpacity = 0;
        }

        $(".pagination-hover-overlay").css({
        backgroundColor: "#00178a",
        opacity: paginationOpacity,
        left: paginationLeftPos
        });

        $(this).css({
        color: "#333d45"
        });

        $(".pagination-page-number.active").css({
        color: "#fff"
        });
        }
        );

    </script>
    <script>
        function search() {
            let searchbar = document.getElementById("searchbar");
            let title = searchbar.value;
            let genrePattern = /(genres=\d+)/g;
            let availabilityPattern = /(availability=(true|false))/g;
            let locationUrl = location.href;
            let url = location.protocol;
            url += "//";
            url += location.host;
            url += "/User/";
            url += "MovieCards?Title=";
            url += title;
            url += URLTokenizer(locationUrl, genrePattern);
            url += URLTokenizer(locationUrl, availabilityPattern);
            window.location.assign(url);
        }


        function URLTokenizer(sourceURL, regex) {
            let stringbuilder = "";
            if (sourceURL.match(regex) != null) {
                let items = sourceURL.match(regex);
                items.forEach(item => {
                    stringbuilder += "&";
                    stringbuilder += item;
                });
            }
            return stringbuilder;
        }
    </script>
}