﻿@{
    ViewBag.Title = "Register";
}


@section Styles {
    <link href="@Url.Content("~/Styles/CustomCheckbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/CustomInput.css")" rel="stylesheet" type="text/css" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <span>Email address</span>
            <input type="text" class="form-field text-box single-line" id="email" name="email" />
        </div>

        <div class="form-group">
            <span>Password</span>
            <input type="password" class="form-field text-box single-line" id="password" name="password" />
        </div>
        <div class="form-group">
            <span>First name</span>
            <input type="text" class="form-field text-box single-line" id="firstname" name="firstname" />
        </div>

        <div class="form-group">
            <span>Last name</span>
            <input type="text" class="form-field text-box single-line" id="lastname" name="lastname" />
        </div>
        <div class="form-group">

            <div class="container">
                <ul class="ks-cboxtags">

                    <li>
                        <input type="checkbox" id="Action" name="ActionChecked" value="true">
                        <label for="Action">Action</label>
                        <input name="ActionChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Adventure" name="AdventureChecked" value="true">
                        <label for="Adventure">Adventure</label>
                        <input name="AdventureChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Crime" name="CrimeChecked" value="true">
                        <label for="Crime">Crime</label>
                        <input name="CrimeChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Mystery" name="MysteryChecked" value="true">
                        <label for="Mystery">Mystery</label>
                        <input name="MysteryChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Comedy" name="ComedyChecked" value="true">
                        <label for="Comedy">Comedy</label>
                        <input name="ComedyChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Drama" name="DramaChecked" value="true">
                        <label for="Drama">Drama</label>
                        <input name="DramaChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Fantasy" name="FantasyChecked" value="true">
                        <label for="Fantasy">Fantasy</label>
                        <input name="FantasyChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Historical" name="HistoricalChecked" value="true">
                        <label for="Historical">Historical</label>
                        <input name="HistoricalChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Horror" name="HorrorChecked" value="true">
                        <label for="Horror">Horror</label>
                        <input name="HorrorChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Philosophical" name="PhilosophicalChecked" value="true">
                        <label for="Philosophical">Philosophical</label>
                        <input name="PhilosophicalChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Political" name="PoliticalChecked" value="true">
                        <label for="Political">Political</label>
                        <input name="PoliticalChecked" type="hidden" value="false">
                    </li>
                    <li>
                        <input type="checkbox" id="Romance" name="RomanceChecked" value="true">
                        <label for="Romance">Romance</label>
                        <input name="RomanceChecked" type="hidden" value="false">
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" style="margin-left: 200px;" />
            </div>
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}