﻿
#text-area-id {
    background-color: #FFF;
    color: #222;
    width: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 45px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 2px 14px #000;
    box-shadow: 0px 2px 14px #000;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}


#text-area-container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom:10px;
    width: fit-content;
}
