﻿:root {
    --height: 100px;
    --width: 200px;
}

.wrapper {
    width: 60px;
    height: 60px;
    margin-left: 22.8%;
    margin-top: -20.4%;
    margin-bottom: 14.5%;
}

.button {
    position: relative;
    width: 50px;
    height:48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0 0.8rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}

    .button:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.1);
    }

    .button span {
        color: #fff;
        font-size: 2.5rem;
        z-index: 10;
        letter-spacing: 2px;
    }

    .button._3 {
        background: #16a085;
    }

    .button .back {
        position: absolute;
        width: 0;
        height: 0;
        filter: url(#filter);
        border-radius: 50%;
        z-index: 5;
        transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
    }

    .button._3 .back {
        left: -50%;
        bottom: -50%;
        background: #324960;
    }

    .button:hover .back {
        width: calc(2 * var(--width));
        height: calc(2 * var(--height));
    }

@media only screen and (min-width: 995px) and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
        margin-left: 27.8%;
        margin-top: -22%;
    }

    .button {
        margin: 0.8rem 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 994px) {
    .wrapper {
        flex-direction: column;
        margin-left: 35%;
        margin-top: -24%;
    }

    .button {
        margin: 0.8rem 0;
    }
}

@media only screen and (min-width: 500px) and (max-width: 769px) {
    .wrapper {
        flex-direction: column;
        margin-left: 20%;
        margin-top: -21%;
    }

    .button {
        margin: 0.8rem 0;
    }
}

.support {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex;
}

a {
    margin: 0 20px;
    color: #fff;
    font-size: 2rem;
    transition: all 400ms ease;
}

a:hover {
    color: #222;
}

i {
    cursor: pointer;
}
