﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    background: #1d1f20;
}

input{
    max-width:initial;
}

h1 {
    margin: auto;
    font-size: 2.5rem;
    max-width: 500px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 800;
    color: white;
}

h1 span {
    color: #ff908b;
}

form {
    position: relative;
    width: 70rem;
    margin: auto;
}

.chosen-value, .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.chosen-value {
    text-transform: lowercase;
    font-weight: normal;
    height: 4rem;
    font-size: medium;
    padding: 1rem;
    background-color: #fafcfd;
    border: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.chosen-value::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:hover {
    background-color: #ff908b;
    cursor: pointer;
}

.chosen-value:hover::-webkit-input-placeholder {
    color: #333;
}

.chosen-value:focus, .chosen-value.open {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    background-color: #ff908b;
    color: #000;
}

.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder {
    color: #000;
}

.value-list {
    list-style: none;
    margin-top: 4rem;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s ease-in-out;
}

.value-list.open {
    max-height: 300px;
    overflow: auto;
}

    .value-list li {
        position: relative;
        text-transform: lowercase;
        font-weight: normal;
        font-size: medium;
        letter-spacing: normal;
        height: 4rem;
        background-color: #fafcfd;
        padding: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
        opacity: 1;
    }

.value-list li:hover {
    background-color: #ff908b;
}

.value-list li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
}




/*Important for microsoft edge*/
@supports (-ms-ime-align: auto) {

    .value-list li {
        position: relative;
        text-transform: lowercase;
        font-weight: normal;
        font-size: medium;
        letter-spacing: normal;
        height: 4rem;
        background-color: #fafcfd;
        padding: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s;
        opacity: 1;
    }

    .chosen-value {
        text-transform: lowercase;
        font-weight: normal;
        font-size: medium;
        height: 4rem;
        padding: 1rem;
        letter-spacing: normal;
        background-color: #fafcfd;
        border: 3px solid transparent;
        transition: 0.3s ease-in-out;
    }
}