﻿* {
    box-sizing: border-box;
    font-weight: 500;
    letter-spacing: 0;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

html {
    text-rendering: optimizeLegibility;
}


body {
    padding: 0;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba( 71, 147, 227, 1);
}

a, a:hover {
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination-container {
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

.pagination-hover-overlay {
    background-color: #00c1dd;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.5s;
    left: 60px;
    opacity: 0;
}

.pagination .icon-pagination {
    color: rgba(51, 61, 69, 0.5);
    font-size: 11px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.pagination-prev {
    margin-right: 15px;
    margin-left: 10px;
}

.pagination-prev .icon-pagination-prev {
    transform: rotate(0deg);
}
.pagination-prev .icon-pagination-prev {
    transform: rotate(0deg);
}

.pagination-next {
    margin-left: 15px;
    margin-right: 10px;
}

.pagination-next .icon-pagination-next {
    transform: rotate(180deg);
}

.pagination-page-number {
    border-radius: 5px;
    color: #333d45;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 18px;
}

.pagination-page-number:hover {
    color: #fff;
}

.pagination-page-number.active {
    color: #fff;
}
