﻿.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #324960;
    border-right: none;
    padding: 5px;
    outline: none;
    color: #324960;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #324960;
    background: #324960;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 30%;
    position: relative;
    margin-top: 5%;
    left: 81%;
    transform: translate(-50%, -50%);
}

/*Important for microsoft edge*/
@supports (-ms-ime-align: auto) {
    
}
