﻿@model IEnumerable<VideoClub.Web.Models.ClientUserModel>
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "ListClients";
}


@section Styles {
    <link href="@Url.Content("~/Styles/CustomDataTable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Styles/ClientListPagination.css")" rel="stylesheet" type="text/css" />
}

<p id="new">
    @Html.ActionLink("Create new", "Register", "User")
</p>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RentalRecordsCount)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RentalRecordsCount)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "ListRentalRecordsHistory", new { id = item.Id }) |
                        @Html.ActionLink("Rent Movie", "RentMovie", new { id = item.Id }, new { onclick = "pushState(this);", id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination">
    <div class="pagination-container">
        <div class="pagination-hover-overlay"></div>
        @{
            var length = (int)ViewData["pagination"];
            int page = (int)ViewData["page"];
            int i = 1;
            int end = length - 1;
            if (page < 4)
            {
                for (int j = 1; i < 5 && i <= length; i++, j++)
                {
                    if (Request.Url.AbsoluteUri.Contains("?"))
                    {
                        if (!Request.Url.AbsoluteUri.Contains("pageNo"))
                        {
                            <a href="@Request.Url.AbsoluteUri&pageNo=@i" class="pagination-page-number">@j</a>
                        }
                        else
                        {
                            <a href="@Regex.Replace(Request.Url.AbsoluteUri, @"pageNo=\d+", "pageNo=" + i)" class="pagination-page-number">@j</a>
                        }
                    }
                    else
                    {
                        <a href="@Request.Url.AbsoluteUri?pageNo=@i" class="pagination-page-number">@j</a>
                    }
                }
            }
            else
            {
                <a href="/Admin/ListClients?pageNo=1" class="pagination-page-number">1</a>
                for (int j = page - 2; j < (page + 4) && j < length; j++)
                {
                    <a href="/Admin/ListClients?pageNo=@j" class="pagination-page-number">@j</a>
                }

            }
        }
    </div>
</div>
@section Scripts {
    <!-- Load Babel -->
    <!-- v6 <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
    <script src="https://unpkg.com/@("@")babel/standalone/babel.min.js"></script>
    <!-- Your custom script here -->
    <script type="text/babel">
        let paginationLeftPos = "20px";
        let paginationOpacity = 0;
        let checkPaginationClick = 0;

        $(".pagination-page-number").click(function() {
        $(".pagination-page-number").removeClass("active");
        $(this).addClass("active");
        paginationLeftPos = $(this).prop("offsetLeft") + "px";
        paginationOpacity = 1;
        checkPaginationClick = 1;

        $(".pagination-hover-overlay").css({
        left: paginationLeftPos,
        backgroundColor: "#00178a",
        opacity: paginationOpacity
        });
        $(this).css({
        color: "#fff"
        });
        });

        $(".pagination-page-number").hover(
        function() {
        paginationOpacity = 1;
        $(".pagination-hover-overlay").css({
        backgroundColor: "#324960",
        left: $(this).prop("offsetLeft") + "px",
        opacity: paginationOpacity
        });

        $(".pagination-page-number.active").css({
        color: "#333d45"
        });

        $(this).css({
        color: "#fff"
        });
        },
        function() {
        if (checkPaginationClick) {
        paginationOpacity = 1;
        } else {
        paginationOpacity = 0;
        }

        $(".pagination-hover-overlay").css({
        backgroundColor: "#00178a",
        opacity: paginationOpacity,
        left: paginationLeftPos
        });

        $(this).css({
        color: "#333d45"
        });

        $(".pagination-page-number.active").css({
        color: "#fff"
        });
        }
        );
    </script>
    <script>
        function pushState(elem) {
            let uuid = elem.getAttribute("id");
            sessionStorage.setItem("uuid", uuid);
        }
    </script>
}
