﻿
@{
    ViewBag.Title = "ViewSettings";
}

@section Styles {
    <link href="@Url.Content("~/Styles/Sidebar.css")" rel="stylesheet" type="text/css" />
}

<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_960_720.png" />
        <h2>Admin</h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-plus"><span>@Html.ActionLink("Add movie", "AddMovie", "Admin")</span></li>
    </ul>
</nav>

<main>
    <div class="helper">
        <span>Settings page</span>
        From this page you can manage
                Movie data


    </div>
</main>