﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <script src="https://kit.fontawesome.com/225cb903a5.js" crossorigin="anonymous"></script>
        @RenderBody()
        
        <!--footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>-->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", false)
</body>
</html>
